In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action="ignore") #경고 표시 제거는 일시적으로만 하자... 중요한 내용일수도

import matplotlib.font_manager as fm #한글 안깨지게
font_name=fm.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mpl # - 표시 정상적으로 되도록
mpl.rcParams["axes.unicode_minus"]=False

import urllib.request as req
from urllib.request import urlopen
from urllib.error import HTTPError, URLError
import urllib.parse
from urllib.parse import quote
from bs4 import BeautifulSoup
import requests

In [3]:
rain2018=pd.read_csv("data/미니프로젝트/2018년 서울 일별 강우량 데이터_수정.csv", encoding="euc-kr")
rain2018.info() #강수량/1시간최다강수량에서 결측치 있는듯

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10186 entries, 0 to 10185
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   	지점번호         10186 non-null  int64
 1   지점명           10186 non-null  object
 2   일시            10186 non-null  object
 3   강수량(mm)       10181 non-null  float64
 4   1시간최다강수량(mm)  10183 non-null  float64
 5   1시간최다강수량시각    10186 non-null  object
 6   Unnamed: 6    0 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 557.2+ KB

In [4]:
jongro2018=pd.read_csv("data/미니프로젝트/2018년 종로구 일별 강수량.csv", encoding="euc-kr")
jongro2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   	지점번호         365 non-null    int64
 1   지점명           365 non-null    object
 2   일시            365 non-null    object
 3   강수량(mm)       128 non-null    float64
 4   1시간최다강수량(mm)  85 non-null     float64
 5   1시간최다강수량시각    65 non-null     object
 6   Unnamed: 6    0 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 20.1+ KB

In [5]:
rain2018=pd.concat([rain2018,jongro2018])
rain2018["지점명"].unique()

array(['강남', '서초', '강동', '송파', '강서', '양천', '도봉', '노원', '동대문', '중랑', '기상청',
       '마포', '서대문', '광진', '성북', '용산', '은평', '금천', '한강', '중구', '성동', '북악산',
       '구로', '강북', '남현', '관악', '영등포 ', '현충원', '서울'], dtype=object)

In [6]:
rain2019=pd.read_csv("data/미니프로젝트/2019년 서울 일별 강우량 데이터_수정.csv", encoding="euc-kr")
rain2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9845 entries, 0 to 9844
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   	지점번호         9845 non-null   int64
 1   지점명           9845 non-null   object
 2   일시            9845 non-null   object
 3   강수량(mm)       9828 non-null   float64
 4   1시간최다강수량(mm)  9830 non-null   float64
 5   1시간최다강수량시각    9844 non-null   object
 6   Unnamed: 6    0 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 538.5+ KB

In [7]:
jongro2019=pd.read_csv("data/미니프로젝트/2019년 종로구 일별 강수량.csv", encoding="euc-kr")
jongro2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   	지점번호         365 non-null    int64
 1   지점명           365 non-null    object
 2   일시            365 non-null    object
 3   강수량(mm)       139 non-null    float64
 4   1시간최다강수량(mm)  88 non-null     float64
 5   1시간최다강수량시각    58 non-null     object
 6   Unnamed: 6    0 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 20.1+ KB

In [8]:
rain2019=pd.concat([rain2019,jongro2019])

In [14]:
seoul=pd.concat([rain2018,rain2019])
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20761 entries, 0 to 364
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   	지점번호         20761 non-null  int64
 1   지점명           20761 non-null  object
 2   일시            20761 non-null  object
 3   강수량(mm)       20276 non-null  float64
 4   1시간최다강수량(mm)  20186 non-null  float64
 5   1시간최다강수량시각    20153 non-null  object
 6   Unnamed: 6    0 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.3+ MB

In [15]:
seoul.drop(["\t지점번호", "Unnamed: 6", "1시간최다강수량시각"], axis=1, inplace=True)
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20761 entries, 0 to 364
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   지점명           20761 non-null  object
 1   일시            20761 non-null  object
 2   강수량(mm)       20276 non-null  float64
 3   1시간최다강수량(mm)  20186 non-null  float64
dtypes: float64(2), object(2)
memory usage: 811.0+ KB

In [19]:
su=seoul.groupby(by="일시").mean()

In [21]:
su["지점명"]="서울"
su

             강수량(mm)  1시간최다강수량(mm) 지점명
일시
2018-01-01  0.000000      0.000000  서울
2018-01-02  0.000000      0.000000  서울
2018-01-03  0.000000      0.000000  서울
2018-01-04  0.000000      0.000000  서울
2018-01-05  0.000000      0.000000  서울
...              ...           ...  ..
2019-12-27  0.000000      0.000000  서울
2019-12-28  0.000000      0.000000  서울
2019-12-29  0.942857      0.592593  서울
2019-12-30  0.210714      0.333333  서울
2019-12-31  0.000000      0.000000  서울

[730 rows x 3 columns]

In [20]:
gg=pd.read_csv("data/미니프로젝트/2018-2019-경기도-시별-강수량-데이터7.csv")
ic=pd.read_csv("data/미니프로젝트/인천_18_19.csv")

In [22]:
su.rename(columns={"강수량":"강수량(mm)","1시간최다강수량":"1시간최다강수량(mm)"}, inplace=True)
su

             강수량(mm)  1시간최다강수량(mm) 지점명
일시
2018-01-01  0.000000      0.000000  서울
2018-01-02  0.000000      0.000000  서울
2018-01-03  0.000000      0.000000  서울
2018-01-04  0.000000      0.000000  서울
2018-01-05  0.000000      0.000000  서울
...              ...           ...  ..
2019-12-27  0.000000      0.000000  서울
2019-12-28  0.000000      0.000000  서울
2019-12-29  0.942857      0.592593  서울
2019-12-30  0.210714      0.333333  서울
2019-12-31  0.000000      0.000000  서울

[730 rows x 3 columns]

In [23]:
gg.rename(columns={"지점명3":"지점명", "일시":"날짜"}, inplace=True)
gg

       지점명          날짜  강수량(mm)  1시간최다강수량(mm)
0      고양시  2018-01-01      0.0           0.0
1      고양시  2018-01-02      0.0           0.0
2      고양시  2018-01-03      0.0           0.0
3      고양시  2018-01-04      0.0           0.0
4      고양시  2018-01-05      0.0           0.0
...    ...         ...      ...           ...
19705  화성시  2019-12-27      0.0           0.0
19706  화성시  2019-12-28      0.0           0.0
19707  화성시  2019-12-29      0.5           0.5
19708  화성시  2019-12-30      0.5           0.5
19709  화성시  2019-12-31      0.0           0.0

[19710 rows x 4 columns]

In [24]:
def si(x):
    return x[:-1]

In [25]:
gg["지점명"]=gg["지점명"].apply(si)

In [26]:
gg["지점명"].unique()

array(['고양', '과천', '광명', '광주', '구리', '군포', '김포', '남양주', '동두천', '부천', '성남',
       '수원', '시흥', '안산', '안성', '안양', '양주', '여주', '오산', '용인', '의왕', '의정부',
       '이천', '파주', '평택', '포천', '화성'], dtype=object)

In [27]:
ic.drop("Unnamed: 0", axis=1, inplace=True)
ic.rename(columns={"일시":"날짜"}, inplace=True)
ic

             날짜 지점명  강수량(mm)  1시간최다강수량(mm)
0    2018-01-01  인천     0.00          0.00
1    2018-01-02  인천     0.00          0.00
2    2018-01-03  인천     0.00          0.00
3    2018-01-04  인천     0.00          0.00
4    2018-01-05  인천     0.00          0.00
..          ...  ..      ...           ...
725  2019-12-27  인천     0.00          0.00
726  2019-12-28  인천     0.03          0.03
727  2019-12-29  인천     1.00          0.58
728  2019-12-30  인천     0.18          0.24
729  2019-12-31  인천     0.00          0.00

[730 rows x 4 columns]

In [28]:
rain=pd.concat([su, gg])

In [29]:
rain=pd.concat([rain,ic])

In [16]:
rain.to_csv("data/미니프로젝트/서울,인천,경기도 강수량 데이터(경기도 하남시 제외)2.csv", sep=",")