## 1. 변수(Variable)의 정의
    - 임시 기억(저장) 공간(기억장치) 

## 2. 변수의 특징
    - 묵시적 선언
    - 동적 바인딩
    - immutable(불변성) --> 값을 수정 불가의 뜻
    - 수정 가능성에 따라 분류
        - 수정 불가능: int, float,str,bool,tuple
        - 수정 가능 : list, dict, set

In [ ]:
# a라는 변수를 사용하겠다고 선언을 하고 사용해야하는데(미리 신고) --> 파이썬에서는 그냥 사용하면 됨(자동으로 해줌). 
a= 10 #값이 있는 위치를 저장 하는 것. 
# 모든 데이터의 시작은 변수 저장 부터임 

a

#동적 바인딩 --> 하나만 저장하면 그형식으로만 저장되는데(하나의 저장, 하나의 유형) 파이썬은 다른것으로도 저장 가능(실행할때 그 데이터의 형식이 결정됨)
#     형식에 구애 받지 않는다. 
a=11
a

a = '안녕하세요'
a

# a= 3.14
# a

# 인터프리터 언어는 --> 순서대로, 간단하고 단순하고, 스크립트, 파이썬, 코드를 여러개 입력해도 마지막것만 실행이 됨. 
# 컴파일 언어는 로직에 따라(순서가 필요가 없음) --> 전문적 개발을 위한, c,c++,java
# 불변성: a의 값이 변하는게 아니라 위치에 있는 값을 찾아오는 것, 값이 존재하지만 위치를 잃어 쓸 수 없음 (garbage), 이를 다시 사용할 순 없음

In [ ]:
# 각각 나오게 하고 싶다면 print 함수를 쓰면 됨 
a= 10 
print(a)

a=11
print(a)

a = '안녕하세요'
print(a)

a= 3.14
print(a)

a =True # 논리 값(문자열이 아님) - 참이냐 아니냐 의미를 갖는 것이기에 ''를 할 필요가 없음. 
a

## 3. Data Type: 자료형

- 종류
   1. 기본 자료형 --> 하나의 데이터만 저장 가능
       * int(숫자) --> int()
       * float(실수) --> float()
       * str(문자) --> str()
       * bool(진리값-true, false) --> bool()
       각각 이름의 함수들이 있음 집합형도 
       
   2. 집합 자료형 --> 데이터를 여러개 묶어서 사용 
       - list
       - tuple
       - dict(딕셔너리)
       - set

In [ ]:
a = 10 
print(type(a)) #자료의 형태를 알아볼 때 쓰는 함수 

a= 3.14
print(type(a))

In [ ]:
a=3 
b = 4 
a**b

In [ ]:
7%3

In [ ]:
#### 나머지만
3 % 7

In [ ]:
7 / 4

In [ ]:
#### 몫만 
7//4

In [ ]:
print(14//3)
print(14%3)

---

### (1) str

In [ ]:
a = 10 #정수형으로 데이터 저장 
a = '10' # 문자형으로 제이터 저장 
print(type(a))

a = '안녕하세요'
print(a)

a= """제 이름은 홍길동 이라고 합니다,
    제 이름은 홍길동 입니다,
    만나서 반갑습니다."""
print(a)

In [ ]:
#### 특수 문자(제어 문자): \문자 , \(escape 문자: 특수한 임무로 부터 탈출)
a='이것은 파이썬 입니다. 열심히 공부합니다.'
print(a)

In [ ]:
a='이것은 파이썬 입니다. \n열심히 공부합니다.' # \n new line 새로운 줄을 만들어 준다. 
print(a)

In [ ]:
a='이것은 파이썬 입니다. \n\n\n열심히 공부합니다.' 
a

a = '현재 시간은 \t4시 입니다.' #\t는 tap키와 같이 들여쓰기(공백 추가)
print(a)

In [ ]:
print("\"\\t는 탭키의 기능이다")

In [ ]:
# \를 줄 바꿈의 용도로 사용 가능함. 

a = '10 + 2 - 3 + 5 \
+ 6 * 7'

print(a)

In [ ]:
a = '10 + 2 - 3 + 5    #그냥 줄바꿈하면 error
+ 6 * 7'

In [ ]:
multiline ="""
... Life is too short
... You need python
... """
print(multiline)

In [ ]:
##### 문자열을 연결하기 

a= 'python'
b = ' is fun'
c = ' and great'
d = a, b, c
print(d)

d = a + b + c
print(d)

In [ ]:
head = "Python"
tail = " is fun!"
head + tail

In [ ]:
##### 문자열 곱하기(반복의 의미)

print(a * 3) #한쪽에는 숫자가 와야함

In [ ]:
print(a * b)

In [ ]:
##### 문자열의 길이 구하기 len
print(len(a))
print(len(b))
print(len(c))

In [ ]:
df = 'You need python'
print(len(df))

In [ ]:
##### 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법 제공 

a = 'Life is too short, You need Python'
print(a[3])
print(a[10])
print('-'*30)
print(len(a)) # 전체 길이를 알면 -1 을 해주면 마지막 문자의 인덱스 
print(a[33])
print(a[len(a)-1])
print('-'*30)
print(a[-1])
print(a[-2])

In [ ]:
#### 슬라이싱(Slicing) --> 원하는 정보만 뽑아오기 --> [시작 위치 : 끝 위치]

print(a[:4])
print(a[0:4])
print(a[:6]) # 마지막 위치는 n-1, 생략했을 때는 처음부터 범위가 지정됨. 
print(a[8:])

In [ ]:
print(a)

print(a[12:17])
print(a[:])
print(a[19:-7]) # -는 n+1

In [ ]:
a = '20010331Rainy'
date = a[:8]
weather = a[8:]
print(date)
weather

In [ ]:
a = '20010331Rainy'
year = a[:4]
month = a[4:6]
date = a[6:8]
print(year)
print(month)
print(date)

In [ ]:
#### [시작위치 : 끝위치: step]
print(a[:])
print(a[::1])
print('-'*30)
print(a[::2])
print(a[::-1])

In [ ]:
##### 수정불가? 

a = 'pithon'
a[1] = 'y'  --> eorror  문자열은 요솟값을 바꿀 수 없음

In [ ]:
a[:1] + 'y' + a[2:]

In [ ]:
#### 문자열 관련 함수 

#count 문자 개수 세기 
a= '홍길동, 홍경래, 홍장군, 임경업, 신돌석'
print(len(a))
print(a.count('홍'))


print('-'*30)

# join()
str1 = 'abcdefg'
print('.'.join(str1)) #각각의 데이터를 .으로 합친다. 


print('-'*30)

# split()
str2= '홍길동, 홍경래, 홍장군, 임경업, 신돌석'
# 하나의 데이터를 분리할때, 어떤 것을 기준으로 분리해라
print(str2.split(','))
str3 = str2.split(',') # 콤마를 기준으로 나눈 것 
str3
str4= '홍길동: 홍경래: 홍장군: 임경업: 신돌석'
print(str4.split(':'))


print('-'*30)

# find(), index() --> 거의 비슷한 함수 
print(str4.find('길')) # 길이 처음 나온 위치를 알려줌(인덱스)
print(str4.find('돌'))
print(str4.find('길'), str4.find('석'), str4.find('임')),str4.find('민')
# 없는 글자를 찾으면 -1로 나옴 
#  index 나 find나 결과 값은 같음 
print(str4.index('길'))
# 어떤게 다를까? 
# find는 없는 값을 찾으면 -1이 나오지만 index 는 error가 뜸 
print(str4.index('길'), str4.index('석'), str4.index('임')),str4.index('민')

In [ ]:
# lstrip()왼쪽제거, rstrip()오른쪽, strip()양쪽에 --> 특정문자를 제거하는 것, 가운데 있으면 안됨
# 공백을 제거할때 가장 많이 씀 
df1='                python'
df1
print(df1.lstrip()) #공백이라 따로 지정할 필요는 없음 
df1 = 'python.,'
print(df1.rstrip('.,'))

In [ ]:
text = ' Water boils at 100 degrees '
print('[' + text.rstrip() + ']')
print('[' + text.lstrip() + ']')
print('[' + text.strip() + ']')

In [ ]:
text = '0000000Water boils at 100 degrees 000'
print(text.lstrip('0'))
print(text.rstrip('0'))
print(text.strip('0'))

In [ ]:
str4= '홍길동: 홍경래: 홍장군: 임경업: 신돌석'
print(str4.strip(':'))

In [ ]:
# replace(),  [maketrans(), translate()] --> 같이 써야할 함수]
#  replace() 특정 문자열 바꿀때
str1 = 'Hello, World!'
print(str1.replace('Hello','Bye Bye'))

df2 = '일이삼사오육칠팔구' #얘를 숫자로 바꾸고 싶을 때 
print(df2.replace('일이삼사오육칠팔구','123456789')) #-->전체를 바꿀때
# 일 삼 오만 숫자로 바꿀때 
print(df2.replace('일삼오','135')) #--> 일삼오라는 문자열은 없으니까 안나옴
# 따로 뽑아 내서 하는 것은 원시적이니 

#[maketrans(), translate()] 이것을 쓴다. 
print(df2.translate(df2.maketrans('일삼오','135')))

In [ ]:
##### 문자열 포맷팅 --> 문자를 예쁘게 꾸밀때 
#     : % 이용 or format()이용
## %를 이용하는 방법 
df3 = '현재 온도는 18도 입니다.' #18도 이 온도만 바꿀때 
df3 = '현재 온도는 %d도 입니다.'%18, #d = decimal 
df3 = '현재 온도는 %d도 입니다. 그리고 오늘의 날씨는 %s입니다.'%(18,'비')#s는 string
# 두개 이상일때는 괄호로 묶어서 순서대로 숫자 혹은 문자를 입력한다. 
df3

# 나눗셈의 결과 : 3 / 5 = 0.6입니다.
print('%s의 결과 : %d %c %d = %f 입니다.'%('나눗셈',3,'/',5,(3/5)))
# c = 문자 한개를 포메팅 할때 
print('%5s의 결과 : %d %c %d = %f 입니다.'%('나눗셈',3,'/',5,(3/5)))
# 5개의 자리를 확보하고 문자가 들어가게끔, 모양 꾸미기

#문자 같은 것은 오른쪽 정렬, 숫자는 왼쪽 정렬이 default임 이것을 바꿀려면? 
print('%-5s의 결과 : %d %c %d = %f 입니다.'%('나눗셈',3,'/',5,(3/5))) # 왼쪽 정렬
print('%5s의 결과 : %d %c %d = %f 입니다.'%('나눗셈',3,'/',5,(3/5)))

In [ ]:
print('%s의 결과 : %s %s %s = %s 입니다.'%('나눗셈',3,'/',5,(3/5)))
# %S 는 모든거 다씀

In [ ]:
# 소숫점 2자리까지 나타내려면   
print('%5s의 결과 : %d %c %d = %.2f 입니다.'%('나눗셈',3,'/',5,(3/5)))
#  0.2f 에서 '.'미는 소숫점 포인트를 말하고 그 뒤 숫자 2는 소숫점 뒤에 나올 숫자의 개수를 뜻함

In [ ]:
## format() 함수 이용 방법
# 바뀌는 값을 중괄호로 묶고 .format을 쓰고 순서대로 들어가는 값을 넣으면 됨 
print('{}의 결과 : {} {} {} = {} 입니다.'.format('나눗셈',3,'/',5,(3/5)))

#특정 순서가 필요하다면, 인덱스처럼 0부터 들어갈 순서를 지정하고 format()에 
# 내가 만든 순서대로 입력하면 됨.
print('{3}의 결과 : {0} {1} {2} = {4} 입니다.'.format(3,'/',5,'나눗셈',(3/5)))

#순서 상관없이 이름을 붙여주고 이름에 맞게 값을 할당 
print('{title}의 결과 : {num1} {op} {num2} = {result} 입니다.'
      .format(num1=3,op='/',num2=5,title='나눗셈',result=(3/5)))

# 정렬
print('{3:10}의 결과 : {0} {1} {2} = {4} 입니다.'.format(3,'/',5,'나눗셈',(3/5)))
#오른쪽 정렬
print('{3:>10}의 결과 : {0} {1} {2} = {4} 입니다.'.format(3,'/',5,'나눗셈',(3/5)))
# 왼쪽 정랼
print('{3:<10}의 결과 : {0} {1} {2} = {4} 입니다.'.format(3,'/',5,'나눗셈',(3/5)))
# *로 채우기, 소수점 2째자리까지 나타내기 
print('{3:*>10}의 결과 : {0} {1} {2} = {4:0.2f} 입니다.'.format(3,'/',5,'나눗셈',(3/5)))

#### (2) bool

In [ ]:
a = False # 이것은 문자열이 아님 진리값 
print(a)
print(type(a))

print('-'*30)

print(10) 
# 이게 참인지 거짓인지 알고 싶을 때 
print(bool(10),bool(3.14),bool(-2),bool(0))
# 0을 제외한 모든 수는 True 

print(bool('가'),bool('가나다'),bool(' '),bool(''),bool(None))
#문자에서는 값이 없을 때 거짓
a= None
print(bool(a))

---
#### (3) list 

- [  ] 사용 
- 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence Data)
- 인덱스 사용(순차적으로 저장됬기 때문에 인덱스를 사용할 수 있음)
- mutable, 수정이 가능하다

In [ ]:
# a = 10
# b = 11
# c = 12
a, b, c = 10, 11, 12 #한번에 다수의 변수를 설정할 수 있음

d = [10,11,12] #다수의 데이터를 하나의 변수로 담을 수 있게 해줌.

print(type(a),type(d))
print(a) # 바로 쓸 수 있음
print(d) # 바로 쓸 수는 없음 --> 접근해서 값을 꺼내와야 함.
print(d[0],d[1],d[2])

# 서로 다른 데이터 형태도 묶어줄 수 있음
e = ['james',178,3.14,True]
print(e[0])

In [ ]:
#### indexing

a = [1,2,3,'가',3.14,['a','b','c']]
print(a)
print(a[5])
# 리스트 안에 리스트를 가져올때 
print(a[5][1])
print(a[-1][-3])

In [ ]:
#### 복사 (얕은 복사, 깊은 복사)

# 얕은 복사 --> 주소 복사
a = [1, 2, 3, 4, 5]#a는 데이터를 저장하는게 아니라 데이터가 있는 위치를(주소) 저장하는 것
b = a # a가 갖고 있는 데이터 위치를 b도 복사, id(a) id(b)는 다르지만 내부 객체는 같은 주소를 바라보고 있다.
b[0] = 10

print(b)
print(a)

print('-'*30)

# 깊은 복사 --> 실제 데이터 복사 

a = [1, 2, 3, 4, 5]

a[0:5] # 실제 데이터를 꺼내온 것, 슬라이싱 , 주소를 저장 안해서 사용할 수 없음
b = a[0:5]
# b= a[:] == a[:5]
print(b)

In [ ]:
##### list 의 생성

a = [] # 값은 안들어갔지만 미리 리스트 형으로 준비해 놓겠다., 간단한 표현 
# a = list() --> 정식 표현 
print(type(a))

In [ ]:
#### 각 자료형 함수(참고) --> 자료의 변환이 가능함. 

# 연산을 하기 위해서는 문자형 데이터를 숫자형으로 바꿔야 함.
a = '10'
print(int(a)) # int 함수를 쓰면 정수형으로 바뀜 
print(int(a),type(int(a)))
print(str(a),type(str(a)))
print(float(a),type(float(a)))
print(bool(a),type(bool(a)))
# a = '가나다' #--> 이건 숫자형으로 바꿀 수 없음

# 집합형도 자료변환 가능 
print(list(a),type(list(a))) # 문자 이면 각각 나옴 하나 하나의 문자로 보기때문
print(list([a]),type(list([a])))

In [ ]:
a = 'ab'
print(list(a),type(list(a)))

In [1]:
#### list 초기화  --> 변수를 처음 만들어서 가장 처음 값을 넣는 것 

a= 10 #초기화  

a= 5

#리스트에서는 어떻게 하냐? 

a =[1, 2, 3]
print(a)

a = list([1, 2, 3]) #다양한 기능 사용 가능
print(a)

a =list(range(0,10)) #[] 대괄호를 안씀. 
# range() 범위 함수,범위를 지정해 주면 그 범위의 데이터를 자동으로 만들어줌
print(a)
a =list(range(10)) #(n-1)
print(a)
a =list(range(0,10,1)) 
print(a)

a =list(range(5,12,2))
print(a)
a =list(range(-4,12,1))
print(a)
a =list(range(-4,12))
print(a)

[1, 2, 3]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 7, 9, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
a= list(range(10,0,-1))
print(a)

In [ ]:
#### list 연산 기능, 덧셈, 곱셈 가능 뺄셈, 나눗셈은 안됨
# 덧셈은 그냥 추가되는 것, 실제 데이터끼리 더하는 것은 아님, 리스트를 더한다고 생각하면 됨.
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a*3) # 리스트를 세번 반복한 것 
# 실제 데이터를 연산하려면 인덱싱해서 해야함 
print(a[0] +b[0])
# print(a[1]+ 'hi~~')
print(a[1],'hi~~')
print(str(a[1])+'hi~~')

In [2]:
#### 추가하기 : insert(), append(), extend()

# insert() --> 위치 지정할 수 있음 insert(위치, 추가할 숫자)
a = [1,2,3]
a.insert(2,100)
print(a)

# append() --> 무조건 마지막에 추가 
a = [1,2,3]
a.append(4)
print(a)
a.append([4,5]) #--> 리스트에 리스트 추가
print(a)

# extend() --> append를 확장한 것, 대량 추가 할때, 
#반드시 [] 리스트 형태로 추가해야함(하나를 추가하더라도)
a.extend([5,6,1000])
print(a)
a.extend([0])
print(a)

#여러개 추가할 때 
a.append([7,8,9]) # --> append로 여러개 추가할때는 리스트의 리스트 형태가 됨 
#그래서 extend를 써야함 
print(a)

[1, 2, 100, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, [4, 5]]
[1, 2, 3, 4, [4, 5], 5, 6, 1000]
[1, 2, 3, 4, [4, 5], 5, 6, 1000, 0]
[1, 2, 3, 4, [4, 5], 5, 6, 1000, 0, [7, 8, 9]]

### 연습문제

In [1]:
#1번 문제 
kor = 80
engl = 75
math = 55
print('홍길동의 평균성적:',(kor+engl+math)/3)

홍길동의 평균성적: 70.0

In [3]:
a = input('숫자를 입력하시오:')
if int(a) % 2 ==0:
    print('짝수 입니다.')
else:
    print('홀수 입니다.')

숫자를 입력하시오:13
홀수 입니다.

In [7]:
# 3번 문제 
pin = '881120-1068234'
yyyymmdd = pin[:6]
print(yyyymmdd)
num = pin[7:]
print(num)

881120
1068234

In [8]:
print(pin[7])

1

In [9]:
a = 'a:b:c:d'
b = a.replace('a:b:c:d','a#b#c#d')
print(b)

a#b#c#d

In [13]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [19]:
a = ['Life','is','too','short']
result = ' '.join(a)
print(result)
print(type(result))

Life is too short
<class 'str'>

In [13]:
# 210913
### 정렬기능 -원하는 정보를 쉽게 찾는다, 최댓값 최솟값을 찾기 쉬워짐 
#오름차순 정렬 defualt

a= [1,4,3,2]
a.sort()
print(a) #실제 데이터를 정렬 시킴, 원본 자체 순서가 바뀜

a= [1,4,3,2]
print(sorted(a)) #차이는? # 실제 데이터를 정렬한 것을 다른 곳에 저장, 원본이 바뀌는 것이 아님
print(a)

a=sorted(a) # sorted 함수로 원본 데이터까지 바꾸러면 변수로 다시 지정해주면 됨
#이러면 기존의 a는 가비지(존재는 하지만 쓸 수 없는)데이터가 됨.

#내림차순으로 정렬을 하려면 기본적으로 오름차순을 먼저 해줘야 함
a.reverse()
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 4, 3, 2]
[4, 3, 2, 1]

In [31]:
####제거하기

# 범위를 지정해서 제거하기, slicing(끝은 항상 n-1)
a = [1,2,3,1,2,3,'a']
a[1:3] = []
print(a)

# 값을 찾아서 삭제하는 경우
a = [1,2,3,1,2,3,'a']
a.remove(3) # 중복되는 경우 맨 먼저 있는 값을 제거 
print(a) 

# 위치를 찾아서 삭제 
del a[4]
print(a)

print('-'*30)

#전체데이터 삭제 
a = [1,2,3,1,2,3,'a'] #껍데기만 삭제 
a[:]=[]
print(a)

a = [1,2,3,1,2,3,'a']
del a #변수 자체를 삭제
# print(a) --> 존재하지 않는 변수를 출력하라 했으니 에러가 나는 것.

print('-'*30)

# stack --> 메모리 사용 방법,데이터를 사용할때 한쪽을 막아둠, 결국애 데이터를 꺼낼때 
#어떤 것 부터? a,b,c 로  저장되면 c ,b, a 순으로 사용할 수 있음, LIFO(last in first out)
#잠깐 저장해놀을 때
#push --> 데이터 넣기, pop --> push 된 데이터를 꺼내는 것 
#앞에서는 무조건 삭제이지만 여기에서는 이 데이터를 사용하기 위해서 꺼내오는 것(메모리 입장에서는 삭제된 것)
a = [1,2,3]
b=a.pop()#꺼내와라 했을때 마지막에 저장된 3을 꺼내옴 
print(b)
print(a) # a 입장에서는 3이 삭제됨

b= a.pop()
print(b)
print(a)

[1, 1, 2, 3, 'a']
[1, 2, 1, 2, 3, 'a']
[1, 2, 1, 2, 'a']
------------------------------
[]
------------------------------
3
[1, 2]
2
[1]

In [37]:
#### 검색기능 :find,index

#index
a=[1,2,3,4,5]
print(a.index(4))#4라는 데이터가 인덱스가 몇번인지
# print(a.index(7)) 없으면 에러

#있는지 없는지 확인하려면 연산자 사용하면 됨 
print(2 in a)
print(7 in a)

3
True
False

In [35]:
dir(a) # --> 사용가능한 함수 확인

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

---- 

#### (4). Tuple
* 리스트와 거의 비슷 --> 리스트의 기능을 똑같이 사용 가능 

차이점 
+ ()를 사용함 
+ immutable(값들의 생성,삭제,수정이 불가)
+ 데이터를 보호하기 위해 사용

In [38]:
a = ('a','b','c','d')
print(a)
print(type(a))

('a', 'b', 'c', 'd')
<class 'tuple'>

In [143]:
a = 'a','b','c','d'
print(a)
print(type(a))

print(len(a))
print(a.count('c'))
print(a.index('b'))

aa = (1,2,3)
ad = list(aa)
print(ad)
ad.append(4)
print(ad)
ad = tuple(ad)
print(ad)

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
1
[1, 2, 3]
[1, 2, 3, 4]
(1, 2, 3, 4)

In [49]:
# a[1] =10 수정 불가
# 그러면 튜플의 데이터를 바꿔야 할때는?? 튜플을 리스트로 
b =list(a)
b[1] = 10
print(b)

c= tuple(b)
print(c)
print(type(c))

['a', 10, 'c', 'd']
('a', 10, 'c', 'd')
<class 'tuple'>

In [56]:
#### packing, unpacking
a= 10 ,20,30 # 원래 하나의 변수에 하나의 데이터 하지만 파이썬을 여러개 가능 
print(a) # 자동으로 데이터를 묶어줌. 

# a1=a[0]
# a2=a[1]
# a3=a[2] 원래는 이렇게 해야함 
a1,a2,a3 = a #자동으로 풀어줌 - unpacjubg
print(a1,a2,a3)

(10, 20, 30)
10 20 30

---

#### (5). 딕셔너리(dict, dictionary) 
* key : value 왜 두개씩 묶냐? 데이터 검색을 위함, 데이터를 조금 더 빨리 찾기 위해
* 값이 의미하는 특징을 key로 마음대로 만들 수 있음. 

특징
* 순서가 없음. --> 인덱스를 쓸 수가 없음
- {키 : 값} 
- 키를 이용해서 값을 조회할 수 있음

In [60]:
a = {'name': '홍길동','tel':'111-1111','age':25}
print(type(a))
print(a)

<class 'dict'>
{'name': '홍길동', 'tel': '111-1111', 'age': 25}

In [62]:
print(a[0]) # --> 인덱스가 없기 때문에 --> 키값을 써야 함

KeyError: 0

In [64]:
print(a['name'],a['tel'],a['age'])

홍길동 111-1111 25

In [67]:
print(a.keys()) # 키만 보는 함수
print(a.values()) # 값들 보는 함수
print(a.items()) #

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 25)])

In [74]:
b = a.items()
print(type(b))

# 딕셔너리를 리스트로 바꾸려면? 
c =list(a) # 키만 리스트로 바뀜
print(c)

# items로 해야 함
c= list(a.items())
print(c)
print(type(c))
print(c[:])
print(c[0],c[0][0])

# 왜 딕셔너리를 리스트로 바꿔서 사용해야할까? 
#자동화를 시키기 위해 list 형식으로 바꿔야 할 경우가 존재, 반복문 쓸때 사용

<class 'dict_items'>
['name', 'tel', 'age']
[('name', '홍길동'), ('tel', '111-1111'), ('age', 25)]
<class 'list'>
[('name', '홍길동'), ('tel', '111-1111'), ('age', 25)]
('name', '홍길동') name

In [78]:
#### 딕셔너리 수정 - list 처럼 수정 가능함.
a['name'] ='임꺽정'
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25}

In [79]:
##### 추가 

a['hobby'] = ['축구','영화감상','음주가무']
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25, 'hobby': ['축구', '영화감상', '음주가무']}

In [80]:
#### 요소삭제 

del a['tel']
print(a)

{'name': '임꺽정', 'age': 25, 'hobby': ['축구', '영화감상', '음주가무']}

In [81]:
### 전체삭제 
a.clear()
print(a)

{}

In [86]:
#### 데이터 가져오기  : get('키',default)
a = {'name': '홍길동','tel':'111-1111','age':25}
print(a['name'])
print(a.get('name'))

# print(a['hobby']) --> 에러가 뜸
print(a.get('hooby','축구')) # hobby를 가져와라 단 없으면 디폴트값(축구)를 가겨와라

홍길동
홍길동
축구

---

#### (6) set

- {} 사용
- 순서가 없다.
- 중복불가

In [88]:
a = {1,2,3,4,2,4} # 중복된 데이터를 알아서 제거해줌
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [89]:
a[0] # 순서대로 저장된것이 아니기 때문에 인덱스로 뽑아 올 수 없음

TypeError: 'set' object is not subscriptable

In [91]:
#데이터를 못뽑아 오나? 리스트로 바꾸야지
b = list(a)
print(b)
print(b[0])

[1, 2, 3, 4]
1

In [112]:
#### 집합 연산 

s1 =set([1,2,3,4,5,6])
s2 =set([4,5,6,7,8,9])

#합집합 
print(s1.union(s2))

#교집합
print(s1.intersection(s2))

#차집합
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [113]:
#### CRUD

#여러개 추가 
s1.update({7,8})
print(s1)
s1.update([100,110]) #중괄호든 대괄호든 가능 
print(s1)
#한개 추가 
s1.add(9)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 100, 110}
{1, 2, 3, 4, 5, 6, 7, 8, 100, 9, 110}

In [114]:
##### 삭제 
s1.remove(9) #--> 없는 데이터를 삭제하면 에러가 남 
print(s1)

####삭제   # 없는 데이터를 넣으면 에러가 나지 않음.
s1.discard(100)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 100, 110}
{1, 2, 3, 4, 5, 6, 7, 8, 110}

In [103]:
s1.remove({100,110}) # 여러개 삭제는 안됨
print(s1)

####삭제   얘도 여러개 안됨
s1.discard({100,110})
print(s1)

KeyError: {100, 110}

In [116]:
#### 중복된 데이터를 제거하고 재구성 

data = [1,2,3,4,4,5,2]
a = set(data)
a2=list(a)
print(a2)

[1, 2, 3, 4, 5]

----

## 4. Operater

1) 산술 연산자

    * /  +  -  %(나머지) //(몫) ** (제곱)
    
2) 비교 연산자

    >    <     >=    <=    ==(같음)  !=(같지 않다)
    
3) 논리 연산자

    and(모두 참)  or(참이거나 아니거나) not(참은 거짓으로, 거짓은 참으로)
    and, or는 다항 연산자, not은 단항 연산자
    x     y    x and y    x or y       not x        x ^y
    -----------------------------------------------------
    T     T       T         T            F            F 
    T     F       F         T            F            T
    F     T       F         T            T            T
    F     F       F         F            T            F
    
     
4) 대입(치환) 연산자

    =  += -= /= *= ...
    
 =================================================================
 
 5) 포함 여부 연산자 
     in(포함이 되어 있는지)     not in 
     
 6) 비트 연산자 
     bit < byte(8bit) < kb(1024byte) < mb < GB < TB
     0,1 이진수 
     
     &(and)   |(or)   `^(캡, xor 연산자)` - exclusive or   배타적일 때 참
                                            (두 변수가 같을 때 거짓 다를때 참)
                                            (암호화, 복호화할 때 탁월)
                                            
     ~     >>  <<  ..... 엄청 많다

In [119]:
#### 대입 연산자 --> 우선 순위가 있음 e.g. 2+3*3+2 = 13(곱셈부터) 괄호로 묶어줘야함

a=1
a=3
a=5
print(a)

b=1  #대입 연산자는 누적의 개념임 
b+=3  #b = b +3 
b+=5  #b = b+5 
print(b)

5
9

In [132]:
#### 비트 연산자 

a = 7
b = 3

result = a and b  # 비프연산자 좌우변에 bool 형식(TRUE/FALSE)가 나와야 함
print(result) # 연산의 결과가 아님 이렇게 쓰면 안된다. 

result = a>3 and b<5
print(result)

result = a>3 & b<5
print(result)

result = a & b 
print(result) # 7와 3를 2진수로 변환하여(111,011 같으면 0 다르면 1) -->100 --> 다시 10진수로?
result = a^b
print(result)

3
True
True
3
4

In [137]:
data = 648723
key = 38976542

encoding= data ^key
print('암호화:',encoding)

decoding = encoding ^ key
print('복호화:',decoding)

암호화: 39541261
복호화: 648723

In [146]:
### 연습문제 
a= (1,2,3)
a =a +(4,)
print(a)

a= (1,2,3)
a1 = list(a)
a1.insert(3,4)
a2 = tuple(a1)
print(a2)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [150]:
a = {'A':90,'B':80,'C':70}
result = a.pop('B')
print(result)
print(a)

80
{'A': 90, 'C': 70}

In [151]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [3]:
n = int(input('정수 입력 :'))
result = 1 
for i in range(1,n+1,1):
    result *= i
print(f'결과 : {n}의 팩터리얼은 {result} 이다.')

정수 입력 :3
결과 : 3의 팩터리얼은 6 이다.