## 1. 파이썬과 MySQL 활용

+ 파이썬과 MySQL을 연결해주는 모듈 필요: mysqlclient, PyMySQL
    - pip install mysqlclient
    - pip install PyMySQL    --> 명령프롬프트에서 설치
        - 둘다 같은 것 아무거나 사용하면 됨.

In [5]:
##### mysqlclient 모듈을 이용한 연결 테스트

import MySQLdb

# sql과 연결, 서버주소, 유저 이름, 패스워드, 사용할 데이터베이스
conn=MySQLdb.connect(host = '127.0.0.1',user='root',password='1111',database='testdb')

print(conn) 

# 연결만 되면 비슷함 

conn.close()

<_mysql.connection open to '127.0.0.1' at 0000023C5D3F58D0>

In [7]:
#######  PyMySQL 모듈을 이용한 연결 태스트

import pymysql 
# 이렇게 계속하면 유지보수가 어려움
conn=MySQLdb.connect(host = '127.0.0.1',user='root',password='1111',database='testdb')
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 0000023C5D28DC80>

In [8]:
config = {'host':'127.0.0.1','user':'root','passwd':'1111','database':'testdb'}

In [9]:
import MySQLdb
conn = pymysql.connect(**config) #**는 데이터에 연결하기 위함
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x0000023C5DE9A640>

#### (1) SELECT

In [17]:
conn = MySQLdb.connect(**config)
sql = 'select * from emp limit 5'

cur=conn.cursor()
#명령어를 sql에서 전달하고 가져오는 역할

cur.execute(sql)
#명령어를 실행하는 기능 

print(cur)
for data in cur:
    print(data)

<MySQLdb.cursors.Cursor object at 0x0000023C5DEB2520>
(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)

In [18]:
conn = MySQLdb.connect(**config)
sql = 'select * from emp limit 5'

cur=conn.cursor()
#명령어를 sql에서 전달하고 가져오는 역할

cur.execute(sql)
#명령어를 실행하는 기능 

# unpacking으로 가져오기
for a,b,c,d,e,f,g,h in cur:
    print(a,b,c,d,e,f,g,h)

7369 SMITH CLERK 7902 1980-12-17 00:00:00 800.0 None 20
7499 ALLEN SALESMAN 7698 1981-02-20 00:00:00 1600.0 300.0 30
7521 WARD SALESMAN 7698 1981-02-22 00:00:00 1250.0 500.0 30
7566 JONES MANAGER 7839 1981-04-02 00:00:00 2975.0 None 20
7654 MARTIN SALESMAN 7698 1981-09-28 00:00:00 1250.0 1400.0 30

In [22]:
conn = MySQLdb.connect(**config)
sql = 'select * from emp limit 5'

cur=conn.cursor()
#명령어를 sql에서 전달하고 가져오는 역할

cur.execute(sql)
#명령어를 실행하는 기능 

# unpacking으로 가져오기
result =[]
for  data in cur:
    result.append(data)
    
conn.close()

print(result)

[(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)]

   #### (2) Insert

In [33]:
conn=  MySQLdb.connect(**config)
# table 만들기 
sql ="""create table if not exists tbltest(
empno int,
ename varchar (10),
sal int,
job varchar(10)
)"""
cur=conn.cursor()
cur.execute(sql)

# f not exists  존재하면 넘어가고 그렇지 않으면 넘어가게끔했기 때문에 에러가 안남
# insert 추가
sql = 'insert into tbltest(empno, ename, sal) values(1,"chuu",5000)'
# 사실 vslues는 변수로 처리하지 고정해서 넣지 않음 
cur.execute(sql)
conn.commit()
conn.close()

In [52]:
empno =2 
ename = 'winter'
sal = 1300

conn=  MySQLdb.connect(**config)
cur=conn.cursor()
sql= "insert into tbltest(empno, ename, sal) values(" + str(empno)+ ",'" + ename +"', " + str(sal)+ " )"

print(sql)
cur.execute(sql)
conn.commit()
conn.close()

insert into tbltest(empno, ename, sal) values(2,'winter', 1300 )

In [53]:
# 더 쉽게 하는 법, 이 방법 추천
empno =3
ename = 'karina'
sal = 2000

conn=  MySQLdb.connect(**config)
cur=conn.cursor()
sql= "insert into tbltest(empno, ename, sal) values(%s, %s, %s)" #나중에 값이 들어갈 위치만 정해주는것 
sql_data =(str(empno),ename,str(sal))

cur.execute(sql,sql_data)
conn.commit()

conn.close()

In [55]:
# 예외처리 이용
mpno =4
ename = 'oliviahye'
sal = 2500
try:   
    conn=  MySQLdb.connect(**config)
    cur=conn.cursor()
    sql= "insert into tbltest(empno, ename, sal) values(%s, %s, %s)" #나중에 값이 들어갈 위치만 정해주는것 
    sql_data =(str(empno),ename,str(sal))

    cur.execute(sql,sql_data)
    conn.commit()

    
except Exception as e:
    print('error:',e)
finally:
    conn.close()

In [58]:
#### 데이터 여러개 입력하기
conn=  MySQLdb.connect(**config)
cur=conn.cursor()

for i in range(10):
    sql = "insert into tbltest(empno,ename,sal) values(5,'jane',10000)"
    cur.execute(sql)
    conn.commit()
conn.close()

### (3) Cursor

#### 1). fetchall(모든), fetchmany(많이), fetchone(하나)
    - default 는 fetchall()    --> 데이터 가져오기

In [64]:
try:
    conn=  MySQLdb.connect(**config)
    cur=conn.cursor()
    
    cur.execute('select * from tbltest')
    
#     for i in cur.fetchall() : #fetchall() 생략되 있던것, 다 가져올때. 
#         print(i)
#     for i in cur.fetchmany(5): #5개만 가져올때 
#         print(i)

    print(cur.fetchone()) #결과가 한개만 있을 때 반복문을 쓰지 않아도 됨
finally:
    conn.close()

(1, 'chuu', 5000, None)

#### 2). DictCursor
    - 필드명을 인덱스 대신 키로 사용

In [66]:
try:
    conn=  MySQLdb.connect(**config)
    cur=conn.cursor()
    cur.execute('select * from tbltest')
    
#     for i in cur:
    for i in cur.fetchall():
        print(i[0],i[1],i[2])
finally:
    conn.close()

1 chuu 5000
2 winter 1300
3 karina 2000
3 oliviahye 2500
3 oliviahye 2500
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000

In [67]:
try:
    conn=  MySQLdb.connect(**config)
    #인덱스 번호가 아닌 칼럼명으로 가져오려 할때 쓰임 DictCursor
    cur=conn.cursor(MySQLdb.cursors.DictCursor)
    cur.execute('select * from tbltest')
    
#     for i in cur:
    for i in cur.fetchall():
#         print(i[0],i[1],i[2])
        print(i['empno'],i['ename'],i['sal'])
finally:
    conn.close()

1 chuu 5000
2 winter 1300
3 karina 2000
3 oliviahye 2500
3 oliviahye 2500
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000

## 2. 응용 예제 

### (1) CSV파일을 DB에 저장

In [ ]:
"""
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);

"""

In [78]:
# read, readline, readlines
#조금 더 편하게 쓸 수 있는 모듈
import csv
file = csv.reader(open('C:/Users/Administrator/Downloads/seonmin/pythonwork/basic/data/input.csv'))
# print(file)

# print(next(file)) # 첫번째 줄을 각각 ,로 분류해서 불러오기 
# print(next(file)) 
# print(next(file)) 
# print(next(file)) 
# print(next(file)) 

#db 로 보내기 
#칼럼명 말고 다음 줄 부터 가져오기 위해 next 해줌 
next(file)
try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    for row in file:
        print(row)
        
finally:
    conn.close()

['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1002', '2341', '500000', '2014-01-20']
['A', '001-1003', '5467', '750000', '2014-01-20']
['A', '001-1004', '5467', '750000', '2014-01-20']
['B', '001-1005', '7009', '250000', '2018-01-30']
['B', '001-1006', '7009', '250000', '2018-01-30']
['B', '001-1007', '6650', '125000', '2017-02-03']
['B', '001-1008', '6650', '125000', '2017-02-03']
['C', '001-1009', '3321', '615000', '2017-02-03']
['C', '001-1010', '3321', '615000', '2017-02-10']
['C', '001-1011', '3321', '615000', '2017-02-17']
['C', '001-1012', '3321', '615000', '2017-02-24']

In [79]:
import csv
file = csv.reader(open('C:/Users/Administrator/Downloads/seonmin/pythonwork/basic/data/input.csv'))
next(file)
try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    #한줄씩 가져오기
    for row in file:
        print(row)
        
finally:
    conn.close()

['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1002', '2341', '500000', '2014-01-20']
['A', '001-1003', '5467', '750000', '2014-01-20']
['A', '001-1004', '5467', '750000', '2014-01-20']
['B', '001-1005', '7009', '250000', '2018-01-30']
['B', '001-1006', '7009', '250000', '2018-01-30']
['B', '001-1007', '6650', '125000', '2017-02-03']
['B', '001-1008', '6650', '125000', '2017-02-03']
['C', '001-1009', '3321', '615000', '2017-02-03']
['C', '001-1010', '3321', '615000', '2017-02-10']
['C', '001-1011', '3321', '615000', '2017-02-17']
['C', '001-1012', '3321', '615000', '2017-02-24']

In [80]:
# 외부 csv 파일을 db에 불러오기 
# 그러나 누적 저장이 됨 
import csv
file = csv.reader(open('C:/Users/Administrator/Downloads/seonmin/pythonwork/basic/data/input.csv'))
next(file)
try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    for row in file:
        cur.execute('insert into suppliers values(%s,%s,%s,%s,%s)',row)
        
    conn.commit()
        
finally:
    conn.close()

In [82]:
#기존 데이터 지워버리고 새로 저장될 수 있게
import csv
file = csv.reader(open('C:/Users/Administrator/Downloads/seonmin/pythonwork/basic/data/input.csv'))
next(file)
try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute('delete from suppliers')
    conn.commit()
    for row in file:
        cur.execute('insert into suppliers values(%s,%s,%s,%s,%s)',row)
        
    conn.commit()
        
finally:
    conn.close()

## (2) DB 에서 가져온 데이터를 파일로 저장

In [83]:
try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute('select * from suppliers where cost > 500000')
    
#     for i in cur:
#         print(i)
    file= csv.writer(open('C:/Users/Administrator/Downloads/seonmin/pythonwork/basic/data','w'),delimiter=',')
finally:
    conn.close()

('A', '001-1003', '5467', 750000.0, datetime.date(2014, 1, 20))
('A', '001-1004', '5467', 750000.0, datetime.date(2014, 1, 20))
('C', '001-1009', '3321', 615000.0, datetime.date(2017, 2, 3))
('C', '001-1010', '3321', 615000.0, datetime.date(2017, 2, 10))
('C', '001-1011', '3321', 615000.0, datetime.date(2017, 2, 17))
('C', '001-1012', '3321', 615000.0, datetime.date(2017, 2, 24))

In [88]:
#두번 실행해야 됨 한번은 위치를 지정해놓기 때문
try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute('select * from suppliers where cost > 500000')

    file= csv.writer(open('C:/Users/Administrator/Downloads/seonmin/pythonwork/basic/data/output.csv','w'),delimiter=',')
    #제목만 먼저 저장
    header = ['Supplier Name','Invoice Number','Part Number','Cost,Purchase Date']
    file.writerow(header)
    
    for row in cur:
        file.writerow(row)
finally:
    conn.close()

## 2. 파이썬과 SQLite

- mysql과 뭐가 다르냐
- 작은 기기에서 사용가능한 DB --> 아이폰이나 안드로이드에 기본으로 들어가 있음 

#### (1) 로컬로 사용할 수 있는 DBMS

+ Access
+ SQLite
+ Microsoft SQL Server Compact Edition
+ Firebird Embeded Server
+ H2
+ HSQL
+ Apache Derby 
...



#### (2) 특징 

+ 파일 기반의 DBMS, 저메모리, 빠른처리속도
     - 별도의 시스템적 제어없이 파일기반으로 사용할 수 있음. 
+ 오픈 소스 
+ 별도의 DB서버 없이 쉽고 편리하게 사용할 수 있는 Embeded SQL DB 엔진 
+ 안드로이드 , 아이폰 등의 스마트폰에 기본 내장된 DB 
+ 파이썬에 내장 
+ 표준 SQL 지원 
 --> 이런 이유로 SQLite 사용
 
 ------------------------------------
 
 + 컬럼을 삭제하거나 변경하는 것 등이 제한 
 + Legt Outer join만 지원 
 + 읽기 전용 뷰만 제공
 + ...
     
     
#### (3) 공식 사이트 

+ http://sqlite.org

#### (4) 클라이언트 툴

+ http://www.sqliteexpert.com

In [1]:
import sqlite3

In [2]:
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.35.4

In [5]:
conn=sqlite3.connect('data/sqlitetest.db') # 내컴퓨터에 있는 디비 , 없으면 만들어서라도 연결을 함.
print(conn)
conn.close()

<sqlite3.Connection object at 0x00000235447026C0>

In [7]:
#### Select 

conn=sqlite3.connect('data/sqlitetest.db')
cur =conn.cursor()

cur.execute('select*from tblbook')
for row in cur:
    print(row)

conn.close()

('최주현', '하늘과 땅')
('최주현', '바다')
('유은정', '바다')
('박성우', '문')
('최주현', '문')
('박성우', '천국')
('최지은', '천국')
('최주현', '천국')
('박성우', '고슴도치')
('서금동', '나')

In [8]:
conn=sqlite3.connect('data/sqlitetest.db')
cur =conn.cursor()

cur.execute('select*from tblMember')
for row in cur:
    print(row)

conn.close()

(1, '홍길동', '2020-12-25')
(2, '임꺽정', '2022-01-05')

In [13]:
##### 자동으로 DB 생성하고 테이블 생성

conn=sqlite3.connect('data/auto.db')
cur=conn.cursor()

sql = """
    create table if not exists tblmember(
        id int,
        name varchar(10)
    )
"""
cur.execute(sql)
conn.commit()

cur.execute("insert into tblmember values(1,'Chuu')")
conn.commit()

cur.execute('select*from tblmember')
for row in cur:
    print(row)
    
conn.close()

(1, 'Chuu')
(1, 'Chuu')

In [20]:
import csv
##### csv 파일을 읽어들여서 db에 저장 --> 테이블이 있어야 함. 
conn=sqlite3.connect('data/auto.db')
cur=conn.cursor()

# 테이블 조회
tables=cur.execute("select * from sqlite_master where type = 'table'") # 테이블 정보 다 가져와라
for i in tables:
    print(i[1])

file=csv.reader(open('data/input.csv','r'),delimiter=',')
# for i in file:
#     print(i) 이걸 주석처리 안하면 반복을 돌려서 마지막으로 가니까 다음으로 넘어갈게 없어

next(file)

for row in file:
    cur.execute('insert into tblInput values(?,?,?,?,?)',row)
    
conn.commit()
conn.close()

tblmember
tblInput

In [2]:
conn =sqlite3.connect('data/auto.db')
cur=conn.cursor()

cur.execute('select*from tblInput')
for i in cur:
    print(i)

conn.close()

('A', '001-1001', 2341, 500000, '2014-01-20')
('A', '001-1002', 2341, 500000, '2014-01-20')
('A', '001-1003', 5467, 750000, '2014-01-20')
('A', '001-1004', 5467, 750000, '2014-01-20')
('B', '001-1005', 7009, 250000, '2018-01-30')
('B', '001-1006', 7009, 250000, '2018-01-30')
('B', '001-1007', 6650, 125000, '2017-02-03')
('B', '001-1008', 6650, 125000, '2017-02-03')
('C', '001-1009', 3321, 615000, '2017-02-03')
('C', '001-1010', 3321, 615000, '2017-02-10')
('C', '001-1011', 3321, 615000, '2017-02-17')
('C', '001-1012', 3321, 615000, '2017-02-24')

In [10]:
##### Memory DB #####
# 메모리에 올려 놓고 쓰는
# 메모리를 효율적으로 어떻게 쓸까? 
# 빠르고 효율적 
# 하지만 따로 저장하지 않으면 날라간다 

conn = sqlite3.connect(':memory:') # 데이터 파일을 메모리에 만들겠다.
# print(conn)
cur = conn.cursor()

cur.execute("create table phonebook(name varchar(10), phonenumber text);")
cur.execute('insert into phonebook values(?,?);',('chuu','010-4567-4567'))
cur.execute('select * from phonebook')
for i in cur:
    print(i)
# 저장을 하지 않으면 날라감 
# 메모리에 저장을 했기 때문에 commit이 없음

f = open('data/dump.sql','w')
for i in conn.iterdump(): # 커넥션을 돌리면서 
    f.write('{}\n'.format(i))

f.close()
conn.close()

('chuu', '010-4567-4567')

In [12]:
# 저장된 것을 불러오려할 때. 
conn = sqlite3.connect('data/auto.db')
cur= conn.cursor()

f = open('data/dump.sql','r')
script=f.read()
print(script)

cur.executescript(script)
conn.close()

BEGIN TRANSACTION;
CREATE TABLE phonebook(name varchar(10), phonenumber text);
INSERT INTO "phonebook" VALUES('chuu','010-4567-4567');
COMMIT;

In [13]:
# 메모리에서 쓴 DB 는 저장후에 다시 불러올때는 또 메모리에 서 사용 가능 단 한개만 가능
conn = sqlite3.connect(':memory:')
cur= conn.cursor()

f = open('data/dump.sql','r')
script=f.read()
print(script)

cur.executescript(script)
conn.close()

BEGIN TRANSACTION;
CREATE TABLE phonebook(name varchar(10), phonenumber text);
INSERT INTO "phonebook" VALUES('chuu','010-4567-4567');
COMMIT;

In [14]:
##### MongDB
# no sql  --> sql 이 아니더라도 사용할 수 있는 
# sql이 뭔가 부족한가? 빅데이터 때문!!! 
# sql은 정형화된 데이터 하지만 빅데이터의 등장(비정형 )
# 이를 해결하기 위한 것 중 하나가 몽고 디비 
# json type : 키와 딕트

## 3. 파이썬과 MongoDB 연동

+ pip install pymongo

In [1]:
from pymongo import MongoClient

In [2]:
##### 서버연결 
conn=MongoClient('192.168.1.102',27017)# 콘솔창에 ipconfig 실행 
# pymonog.MongoClient('localhost',) 
print(conn)
conn.close()

MongoClient(host=['192.168.1.102:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
##### DB연결 
conn=MongoClient('192.168.1.102',27017)
# dbname=conn.get_database('test')
# dbname=conn.test
# dbname=conn['test']
dbname = conn.test2 # 없는건데 하면 생성이 됨 
print(dbname)
conn.close()

Database(MongoClient(host=['192.168.1.102:27017'], document_class=dict, tz_aware=False, connect=True), 'test2')

In [4]:
##### Collection 연결 
conn=MongoClient('192.168.1.102',27017)
dbname = conn.test

# collect=dbname.articles
collect=dbname['articles']
print(collect)
conn.close()

Collection(Database(MongoClient(host=['192.168.1.102:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'articles')

#### 1) 데이터 입력(1개)

In [7]:
conn=MongoClient('127.0.0.1',27017)
# 192.168.1.102
dbname = conn.test
collect = dbname.people

In [8]:
print(collect.count_documents({}))
for i in collect.find():
    print(i)

5
{'_id': ObjectId('61d7bce7849504c45a99629e'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a99629f'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a9962a0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bce7849504c45a9962a1'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db867b4d1c781d306b40e1'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}

In [9]:
data = {'author':'Mike','text':'my first blog post!','tag':['mongodb','python']}
collect.insert_one(data)

In [10]:
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bce7849504c45a99629e'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a99629f'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a9962a0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bce7849504c45a9962a1'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db867b4d1c781d306b40e1'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61dba4db7c4baf611436a939'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

In [11]:
data = {'author':'Tom','text':'my first blog post!','tag':['mongodb','python']}
post_id=collect.insert_one(data).inserted_id

In [12]:
print(post_id)
for i in collect.find():
    print(i)
    
conn.close()

61dba4e57c4baf611436a93a
{'_id': ObjectId('61d7bce7849504c45a99629e'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a99629f'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a9962a0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bce7849504c45a9962a1'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db867b4d1c781d306b40e1'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61dba4db7c4baf611436a939'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba4e57c4baf611436a93a'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

#### 2) 데이터 여러개 입력하기

In [20]:
conn=MongoClient('127.0.0.1',27017)
dbname = conn.test
collect = dbname.people

In [21]:
datas = []
for i in range(10):
    data = {'number':i}
    datas.append(data)
    
print(datas)

[{'number': 0}, {'number': 1}, {'number': 2}, {'number': 3}, {'number': 4}, {'number': 5}, {'number': 6}, {'number': 7}, {'number': 8}, {'number': 9}]

In [22]:
collect.insert_many([{'number':i} for i in range(10)])

In [23]:
for i in collect.find():
    print(i)
    
conn.close()

{'_id': ObjectId('61d7bce7849504c45a99629e'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a99629f'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a9962a0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bce7849504c45a9962a1'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db867b4d1c781d306b40e1'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61dba4db7c4baf611436a939'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba4e57c4baf611436a93a'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba5437c4baf611436a953'), 'number': 0}
{'_id': ObjectId('61dba5437c4baf611436a954'), 'number': 1}
{'_id': ObjectId('61dba5437c4baf611436a955'), 'number': 2}
{'_id': ObjectId('61dba5437c4baf611436a956'), 'number': 3}
{'_id': ObjectId('61dba5437c4baf611436a957'), 'number': 4}
{'_id': ObjectId('61dba5437c4baf611436a958'), 'number': 5}
{'_id': ObjectId('61dba5437c4baf611436a959'), 'number': 6}
{'_id': ObjectId('61dba5437c4baf611436a95a'), 'number': 7}
{'_id': ObjectId('61dba5437c4baf611436a95b'), 'number': 8}
{'_id': ObjectId('61dba5437c4baf611436a95c'), 'number': 9}

In [24]:
conn=MongoClient('127.0.0.1',27017)
dbname = conn.test
collect = dbname.people
print(collect)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'people')

In [25]:
##### 전체 조회 
for i in collect.find():
    print(i)

{'_id': ObjectId('61d7bce7849504c45a99629e'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a99629f'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a9962a0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bce7849504c45a9962a1'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('61db867b4d1c781d306b40e1'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('61dba4db7c4baf611436a939'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba4e57c4baf611436a93a'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('61dba5437c4baf611436a953'), 'number': 0}
{'_id': ObjectId('61dba5437c4baf611436a954'), 'number': 1}
{'_id': ObjectId('61dba5437c4baf611436a955'), 'number': 2}
{'_id': ObjectId('61dba5437c4baf611436a956'), 'number': 3}
{'_id': ObjectId('61dba5437c4baf611436a957'), 'number': 4}
{'_id': ObjectId('61dba5437c4baf611436a958'), 'number': 5}
{'_id': ObjectId('61dba5437c4baf611436a959'), 'number': 6}
{'_id': ObjectId('61dba5437c4baf611436a95a'), 'number': 7}
{'_id': ObjectId('61dba5437c4baf611436a95b'), 'number': 8}
{'_id': ObjectId('61dba5437c4baf611436a95c'), 'number': 9}

In [26]:
##### 나이가 20살인 document 조회 
for i in collect.find({'age':20}):
    print(i)

{'_id': ObjectId('61d7bce7849504c45a99629f'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}

In [27]:
for i in collect.find({'age':{'$gte':23}}):
    print(i)

{'_id': ObjectId('61d7bce7849504c45a9962a0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}
{'_id': ObjectId('61d7bce7849504c45a9962a1'), 'name': 'David', 'age': 23.0, 'score': 20.0}

In [31]:
print(collect.find()) # 여러개 데이터를 가져오기 때문에 객체로 가져옴 
print(collect.find_one())# 한개만 가져오기 
print(collect.find_one({'age':{'$gte':23}}))

<pymongo.cursor.Cursor object at 0x00000198BB8D3040>
{'_id': ObjectId('61d7bce7849504c45a99629e'), 'name': 'Abet', 'age': 19.0, 'score': 10.0}
{'_id': ObjectId('61d7bce7849504c45a9962a0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['R', 'Keras']}

#### 4) 수정

In [32]:
conn=MongoClient('127.0.0.1',27017)
dbname = conn.test
collect = dbname.people

In [33]:
print(collect.find_one({'author':'Tom'}))

{'_id': ObjectId('61dba4e57c4baf611436a93a'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

In [34]:
collect.update_one({'author':'Tom'},{'$set':{'text':'my second blog post!'}})

In [35]:
print(collect.find_one({'author':'Tom'}))

{'_id': ObjectId('61dba4e57c4baf611436a93a'), 'author': 'Tom', 'text': 'my second blog post!', 'tag': ['mongodb', 'python']}